body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#FelixProfil{
  height: 250px;
  width: 250px;
}
#Home-section{
  height: 100vh;
  background-color: rgb(123, 92, 98);
}
#AboutMe-section{
  height: 100vh;
  background-color: cyan;
}
#Projects-section{
  height: 100vh;
  background-color: darkgoldenrod;
}
#Cv-section{
  height: 100vh;
  background-color: darkgreen;
}
#MySunday-section{
  height: 100vh;
  background-color:peru;
}
