body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#shortIntro{
  margin-left:55vw;
  margin-top: -65vh;
}
#FelixProfil {
  top: 19vh;
  left: 13vw;
}
#title {
  margin-top: 25vh;
  margin-left: 13vw;
}
#aboutMeBtn {
  display: inline-block;
  margin-left: 40vw;
  margin-top: 40vh

}
#projectsBtn {
  display: inline-block;
  margin-left: 40%;
  margin-top: 65vh
}
#cvBtn {
  display: inline-block;
  margin-left: 40%;
  margin-top: 65vh
}
#mySundayBtn {
  display: inline-block;
  margin-left: 40%;
  margin-top: 65vh
}
#Home-section {
  height: 100vh;
  background-color: #2f4454;
}
#AboutMe-section {
  height: 100vh;
  background-color: #008080;
}
#Projects-section {
  height: 100vh;
  background-color: #008080;
}
#Cv-section {
  height: 100vh;
  background-color: #008080;
}
#MySunday-section {
  height: 100vh;
  background-color: #008080;
}
* {
  margin: 0;
  padding: 0;
}
#Home-section:before,
#Home-section > :last-child:before {
  position: absolute;
  width: 60px;
  height: 50px;
  border-color: white;
  border-style: solid;
  content: " ";
}

#Home-section:before {
  top: 15vh;
  left: 15vw;
  border-width: 2px 0 0 2px;
}

#Home-section > :last-child:before {
  bottom: 15vh;
  right: 15vw;
  border-width: 0 2px 2px 0;
}
